<div class="messageContainer" [ngClass]="{'isOwnMessageContainer':isOwnMessage}">
  <div class="messageData" [ngClass]="{'isOwnMessageData':isOwnMessage}">
    <img src="{{chatMessage.img}}" class="senderImg">
    
  </div>
  <div class="messageContent" [ngClass]="{'isOwnMessageContent':isOwnMessage}">
      <span class="sender" [ngClass]="{'isOwnSender':isOwnMessage}">
          {{ userName }}
        </span>
    {{ messageContent }}
    <span class="timestamp" [ngClass]="{'isOwnTimestamp':isOwnMessage}">
        {{ timeStamp }}
      </span>
  </div>
</div>